:root {
    --vermelho: #E50914;
    --preto: #141414;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background: linear-gradient(to bottom, rgb(12, 12, 12), var(--preto) 75%);
    color: white;
    font-family: Poppins;
}

/* GERAL */

.nomeGameverse {
    font-family: Bebas Neue;
    font-size: 2rem;
}

.grande {
    font-size: 5rem;
}

#logo {
    font-family: 'Bebas Neue';
    color: var(--vermelho);
    font-size: 2.5rem;
    transition: .2s;
}

#logo:hover {
    color: #ff000d;
    transition: .2s;
    cursor: pointer;
}

/* FOOTER */


/* MAIN */

.container-principal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

/* CAIXA WELCOME */

.container-welcome {
    height: 100%;
    width: 40%;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.containerTextoWelcome {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-left: 20%;
    padding-bottom: 10%;
    text-align: left;

    font-size: 2rem;
}

.containerTextoWelcome h3 {
    font-weight: 200;
}

/* CAIXA LOGIN */

.container-box-login {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-login {
    background-color: rgb(5, 5, 5);
    border-radius: .22rem;
    min-height: 50%;
    min-width: 40%;

    padding: 2.5%;
}

.container-login header {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: .9rem;
}

.container-login main {
    margin: 7% 0 10% 0;
}

.campos-login {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.campos-login input {
    margin-bottom: 5%;
    
    height: 4vh;
    background: rgba(29, 29, 29, .25);
    border-style: none;
    border-bottom: solid 2px white;
    
    color: white;
    font-size: .95rem;

    padding-left: 1%;
}

.campos-login input:focus {
    box-shadow: 0;
    outline: 0;
}

.campos-login input::-webkit-input-placeholder {
    font-size: 1rem;
    font-family: Poppins;
}

.botaoLogin {
    display: flex;
    justify-content: center;
}

.botaoLogin button {
    min-height: 4.5vh;
    width: 35%;
    min-width: 15%;

    font-size: 1.3rem;
    font-family: Poppins;
    font-weight: bold;

    border-radius: .22rem;

    margin-top: 6%;

    background-color: white;
    cursor: pointer;
    color: var(--vermelho);
    transition: 0.4s;
}

.botaoLogin button:hover {
    background-color: var(--vermelho);
    color: white;
    transition: 0.2s;
}

.opcoes-abaixo-login {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.opcoes-abaixo-login a {
    color: white;
    text-decoration: underline;
}

main footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

main footer span {
    font-size: 1.05rem;
}

.container-icones-login {
    display: flex;
    justify-content: center;
}

.container-icones-login i {
    font-size: 3rem;
    cursor: pointer;
}

.container-icones-login i:hover {
    color: rgb(218, 218, 218);
}

.container-icones {
    min-width: 30%;

    margin-top: 5%;
    
    display: flex;
    justify-content: space-between;
}