/* GERAL */

:root {
    --vermelho: #E50914;
    --preto: #141414;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background: linear-gradient(to left, rgb(12, 12, 12), var(--preto) 75%);
    color: white;
    font-family: Poppins;
}

#logo {
    font-family: 'Bebas Neue';
    color: var(--vermelho);
    font-size: 2.5rem;
    transition: .2s;
}

#logo:hover {
    color: #ff000d;
    transition: .2s;
    cursor: pointer;
}

/* HEADER */

#header-main {
    background-color: rgb(12, 12, 12);
    padding-left: .5%;
    padding-right: .5%;
    height: 5.5vh;
}

/* FOOTER */

#footer-main {
    background-color: rgb(12, 12, 12);
    padding-left: .5%;
    padding-right: .5%;
    height: 5.5vh;
}

/* MAIN */

#container-principal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 89vh;
}

#container-welcome {
    height: 100%;
    width: 40%;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* border: solid 1px white; */

}

#container-box-login {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#container-login {
    background-color: rgb(5, 5, 5);
    border-radius: .22rem;
    height: 50%;
    width: 40%;

    padding: 2.5%;
}

#campos-login {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

#opcoes-abaixo-login {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

main footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#container-login header {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: .9rem;
}

.nomeGameverse {
    font-family: Bebas Neue;
    font-size: 2rem;
}

.grande {
    font-size: 5rem;
}

.containerTextoWelcome {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-left: 20%;
    padding-bottom: 10%;
    text-align: left;

    font-size: 2rem;
}

.containerTextoWelcome h3 {
    font-weight: 200;
}

#container-login main {
    margin: 7% 0 10% 0;
}

#campos-login input {
    margin-bottom: 5%;
    
    height: 3vh;
    background: rgba(29, 29, 29, .25);
    border-style: none;
    border-bottom: solid 2px white;
    
    color: white;
    font-size: .95rem;
}

#opcoes-abaixo-login div input[type=checkbox] {
    cursor: pointer;
}

#opcoes-abaixo-login a {
    color: white;
    text-decoration: underline;
}